.movieWraper {
    position: relative;
    width: calc(90% - 10px);
    margin: 0 auto;
}

.iframeWrap{
    height: 0;
    padding-bottom: 62.5%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 20px;

}


a{
    color: blue;
}


.iframeObj{
    position:relative;
    width:90%;
    }
    .iframeObj iframe{
    position:absolute;
    top:0;
    left:0;
    width:90% !important;
    height:90% !important
    }

    .responsive-vertical{
        max-width: 90%;
        width: calc(90vh * 16 / 9);
        max-height: 90vh;
        margin: 0 auto;
      }
      .responsive-horizontal{
        position: relative;
        padding-top: calc(9 / 16 * 90%); /*56.25%でもOK。わかりやすいように式で出してます。*/
      }
      .responsive-horizontal iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
      }